*
{
    margin: 0; /* border-box content+padding+border. */
    padding: 0;
    box-sizing: border-box; /* чтоб ширина и высота оставались по установке*/
}


html{
    font-family: 'Roboto', 'Arial', sans-serif;
}


/*             Все ссылки        */

a:link, a:visited {
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 1px;
    border-bottom: 1px solid #FFFFFF;
    transition: border-bottom: 0.2s, color 0.2s;
}

a:hover, a:active {
    color: #0783b1;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
/*--------------------------------------*/
/* Навигация и приветствие */
/*--------------------------------------*/
header{
    background-image: linear-gradient(rgba(0,0,0), rgba(0,0,0, 0.6)),url(pictures/room.jpg);
   background-size: cover; /* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока.*/
    width: auto;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.logo-w{
    height: 100px;
    width: auto;
    float: left;
    margin: 20px 0 0 20px;
}

.sec>li{
    display: inline-block;
    margin: 1px 4px;
}

.sec>li:first-child{
    margin-left: 0px;
}

.sec{
    text-transform: uppercase;
    float: right;
    margin: 50px 30px 0 0;
}



.speech{
    color: #FFFFFF;
    position: absolute;
/*    width: 100vw;*/
    top: 50%;
    left: 40%;
    transform: translate(-35%, -50%);
    font-size: 22px;
}


/*--------------------------------------*/
/* Биография */
/*--------------------------------------*/
.goodhead{
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
}


.bio{
    background-color: #fff;
/*    position: relative;*/
}

.acc{
    margin: 0 auto;
    margin-bottom: 80px;
    width: 80vw;
    border: 5px solid #03364a;
    box-shadow: 0 0 18px #0783b1;
    
}

.abhead{
    padding: 5px 10px;
    background-color:  #055b7b;
    cursor: pointer;
    border: 1px solid #000;
    color: #fff;
    
}

.aboutme{
    padding: 10px;
    display: none;
    color: white;
    background-color: #03364a;
    border: 1px solid transparent;
}

/*--------------------------------------*/
/* Цитата */
/*--------------------------------------*/

.quotes{
    background-color: #0f4896;  
    margin: 0 auto;
    padding: 0 25vw;
    position: relative;
}

._quote{
    font-style: italic;
    color: #fff;
    font-size: 25px;
}

.qblock{
    padding: 50px 0;
    
}


.myface{
    border-radius: 100%;
    display: inline-block;
    width: 145px
}

.allquote{
/*    padding-left: 20vw;*/
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 100px;
}

.author{
    margin-top: 15px;
    font-size: 20px;
}

.author:before{
     content: "";
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 3px;
    margin-right: 10px;
    background-color: black;   
}


/*--------------------------------------*/
/* Hobbies*/
/*--------------------------------------*/
.hobbies{

      height: 100vh;  
}
.frame{
    
    width: 80%;
    display: block;
    height: 300px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.ph{
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-style: italic;
    margin-bottom: 50px;
    font-size: 20px;
    border: 2px solid #03364a;
}

.hobhead{
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}


/*--------------------------------------*/
/* Умения */
/*--------------------------------------*/

.skills{
    background-color: #0f4896; 
    color: #fff;
    padding-bottom: 50px;
}

.skillhead{
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}

.ps{
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-style: italic;
    
    font-size: 20px;
    border: 2px solid #fff;
}

/*--------------------------------------*/
/* FEEDBACK */
/*--------------------------------------*/

.feedback{
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),
    url(pictures/email.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    
    position: relative;
    overflow: hidden;
}

.wrapper{
    position: absolute;
    top: 50%;
/*
    left: 50%;
    transform: translate(-50%, -50%);
*/
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    
}

.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px (0, 0, 0, 0.15);
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields, .msg{
    width: 48%;
    
}

.input-fields input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    width: 100%;
    color: #fff;
}

.msg textarea{
    height: 212px;
}

::-webkit-input-placeholder{
     color: #c5ecfd;;   
}

::-moz-input-placeholder{
     color: #c5ecfd;;   
}
::-ms-input-placeholder{
     color: #c5ecfd;;   
}

.btn{
    background: #1027db;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}


/*--------------------------------------*/
/* FOOTER */
/*--------------------------------------*/

footer{
    background-color: black;
    color: white;
    padding: 30px 10vw;
    font-size: 80%;
}

.lin>a,
.social-links a{
    text-decoration: none;
    border-bottom: 1px solid transparent;
}


.icon{ 
    font-size: 200%;
    display: inline-block;
    transition: color .2s linear;
    margin-left: 15px;
}

.rightf{
    float: right; 
    padding-top: 20px;
/*    padding-top: 10px;*/
    
}

.leftf{
    padding-top: 5px;
    float: left;
}

.leftf li{
    list-style-type: none;
    margin-top: 5px;
}

.social-links{
    margin-bottom: 5px;    
}

.social-links li{
    display: inline-block;
    
}


.ion-logo-vk:hover
{
    color: #4a76a8;
}

.ion-logo-instagram:hover
{
    color: #2a32ff;
}

.ion-logo-youtube:hover
{
    color: #fe021c;
}
/*Очень хотел через position получилось говно выскакивающее*/

.author-page{
    display: block;
    text-align:center;
    color: #fff;
}

.clear{
    clear: both;
}













@media screen  and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    
    .msg textarea{
        height: 80px;
    }
    
    .input-fields, .msg{
        width: 100%;
    }
}